@font-face {
  font-family: "yekan-bold";
  src: url("/fonts/yekan-bold.woff") format("woff");
}

.yekan-bold {
  font-family: yekan-bold;
}

@font-face {
  font-family: "yekan-fat";
  src: url("/fonts/yekan-fat.woff") format("woff");
}

.yekan-fat {
  font-family: yekan-fat;
}

@font-face {
  font-family: "yekan-heavy";
  src: url("/fonts/yekan-heavy.woff") format("woff");
}

.yekan-heavy {
  font-family: yekan-heavy;
}

@font-face {
  font-family: "yekan-medium";
  src: url("/fonts/yekan-medium.woff") format("woff");
}

.yekan-medium {
  font-family: yekan-medium;
}

@font-face {
  font-family: "yekan-regular";
  src: url("/fonts/yekan-regular.woff") format("woff");
}

.yekan-regular {
  font-family: yekan-regular;
}
